.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-nav > li {
    cursor: pointer;
}

.search-input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    color:black;
}