<boarderlist ng-show="!update" selected-boarders="selectedBoarders"></boarderlist>
<div ng-show="update">Boarder : {{selectedBoarder.name + " " + selectedBoarder.surname}}</div>
<div>
    <timepicker class="time-position" ng-model="date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    <datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    <div class="number">
    <table><tr>
    <td>
    Dosage insuline:
    </td>
    <td>
     <input class="number" type="text" ng-model="dosage" />
    </td>
    </tr>
    <tr>
        <td>
        <button ng-show="!update" ng-click="ctrl.ajouterInsulinDosage()" class="btn btn-primary">Valider</button>
        <button ng-show="update" ng-click="ctrl.updateInsulinDosage()" class="btn btn-primary">Update</button>
        </td>
    </tr>
    </table>
    </div>


</div>

