<boarderlist selected-boarders="selectedBoarders"></boarderlist>
<div>
    <timepicker class="time-position" ng-model="date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    <datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
    <div>
        <input class="number" type="text" ng-model="dosage" />


    </div>


    <button ng-click="ctrl.ajouterInsulinDosage()" class="btn btn-primary" ui-sref="insulinDosage">Valider</button>


<!--
<div>

    <input class="number" type="number" ng-model="morning" placeholder="Insuline matin"/>
    <input class="number" type="number" ng-model="midday" placeholder="Insuline midi"/>
    <input class="number" type="number" ng-model="evening" placeholder="Insuline soir"/>
    <input class="number" type="number" ng-model="night" placeholder="Insuline nuit"/>
</div>
-->
