<boarderlist selected-boarders="selectedBoarders"></boarderlist>
<div>
    <timepicker class="time-position" ng-model="date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    <datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    <!-- <p>Date début:
    <datepicker ng-model="dateStart" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </p>
    <p>Date fin:
    <datepicker ng-model="dateEnd" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </p>
    -->
    <p>Prescrit par:
    <input type="text" ng-model="doctor"/>
    </p>
    <p>Mis en place par:
        <input type="text" ng-model="establishment"/>
    </p>
    <p>Produit / Médicament:
        <input type="text" ng-model="nameMedic"/>
    </p>
    <p>Dosage:
        <input type="text" ng-model="dosage"/>
    </p>
    <p>Unité:
        <input type="text" ng-model="unit"/>
    </p>
    <button ng-click="ctrl.ajouterInjection()" class="btn btn-primary" ui-sref="injection">Valider</button>
</div>