<div class="container menu">
    <div class="row-menu row">
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.swaddle" ui-sref="swaddle" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="insulinDosage" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="observation" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
    </div>
</div>