<div class="container menu">
    <div class="row-menu row">
        <div ng-if="permission.meal" ui-sref="meal" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.swaddle" ui-sref="swaddle" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.insulinDosage" ui-sref="insulinDosage" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.observation" ui-sref="observation" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.patch" ui-sref="patch" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.aerosol" ui-sref="aerosol" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.wound" ui-sref="wound" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.drugTreatment" ui-sref="drugTreatment" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.insulinTaking" ui-sref="insulinTaking" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.therapeutic" ui-sref="therapeutic" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.injection" ui-sref="injection" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
        <div ng-if="permission.insulinTaking" ui-sref="disorder" class="col-4 col-sm-2 col-lg-2">
            <i class="fa fa-cutlery fa-5"></i>
        </div>
    </div>
</div>